<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/fuente.css">
	<link rel="shortcut icon" href="/static/img/logoSMF.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ayuda.css">
	<title>S.I.S.M.E.D.F.A.R</title>
</head>
<body>
	<div class="ajustes">
		<div class="atras">
			<a href="/home/"><h1><</h1></a>
		</div>
		<div class="imprimir">
			<a onclick="javascript:window.print()"><h1 class="icon-reportes"></h1></a>
		</div>
	</div>
	<div class="contenedor">	
		<img src="/static/img/ayuda.png">
	</div>	
</body>
</html>