<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logoSMF.ico">
    <link rel="stylesheet" href="/static/css/QuienesSomos.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fuente.css">
    <link rel="stylesheet" href="/static/css/fondo.css">    
    <title>S.I.S.M.E.D.F.A.R</title>
</head>
<body>
   <div class="contenido">
      <br><br><br>
       <p id="text">Misión</p>
       <p id="subtext">Proveer un servicio farmacéutico integral y eficiente a los usuarios del Hospital<br> Dr. Miguel Oraá y su área de influencia de forma corresponsable con el resto del<br> equipo, añadiendo calidad y buscando un mejor servicio al proceso asistencial de modo<br> que contribuya a mejorar el estado  de salud de los pacientes; además de ello, brinda<br> atención farmacoterapeutica oportuna, con calidad y calidez al personal interno y externo<br> de acuerdo a las normas y políticas establecidas en esta institución, tratando<br> de ofrecer un mejor servicio para el cuidado de la salud.</p>
       <br><br> 
       <center><input type="submit" onclick="window.location.href='/' " value="Volver"></center>
    </div>
</body>
</html>