<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
<link rel="shortcut icon" href="/static/img/logoSMF.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/QuienesSomos.css">
	<link rel="stylesheet" href="/static/css/fondo.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fuente.css">
	
	<title>S.I.S.M.E.D.F.A.R</title>
</head>
<body>
	<div class="contenido">
		<p id="text">¿Quienes Somos?</p>
		<p id="subtext">Somos un servicio de atención en salud responsable de las actividades de producción, almacenamiento, distribución, comercialización, dispensación, control o aseguramiento de la calidad de los medicamentos, y los dispositivos médicos utilizados en la promoción de la salud y la prevención. Diagnóstico, tratamiento y rehabilitación de las enfermedades.
		<br><br> 
		En lo que a la especialidad de estudios se refiere, la Farmacia Hospitalaria es una especialidad farmacéutica que se ocupa de servir a la población en sus necesidades farmacéuticas, a través de la selección, preparación, adquisición, control, dispensación, información de medicamentos y otras actividades orientadas a conseguir una utilización apropiada, segura y costo-efectiva de los medicamentos y productos sanitarios, en beneficio de los pacientes atendidos en el hospital y en su ámbito de influencia.</p>
        <br><br> 
        <center><input type="submit" onclick="window.location.href='/' " value="Volver"></center>
        </div>
</body>
</html>