<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logoSMF.ico">
    <link rel="stylesheet" href="/static/css/QuienesSomos.css">
    <link rel="stylesheet" href="/static/css/fondo.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fuente.css">    
    <title>S.I.S.M.E.D.F.A.R</title>
</head>
<body>
   <div class="contenido">
      <br><br><br>
       <p id="text">Visión</p>
       <p id="subtext">Estar entre los mejores proveedores de farmacoterapia y ser reconocido por Profesionales, pacientes y entorno<br> social como un buen servicio.</p>
       <br><br> 
       <center><input type="submit" onclick="window.location.href='/' " value="Volver"></center>
    </div>  
</body>
</html>